.hero{
    height: 70dvh;
}
.slide-text{
    width: 85%;
    font-weight: bold;
}

.hero3{
    width: 100%;
}

.account{
    border: 1px solid rgb(212, 175, 55);
    border-radius: 20px;
    width: 100%;
}

footer img{
    width: 40px;
}

.myhistory1{
    width: 180%;
}
.myhistory2{
    width: fit-content;
}

.myhistory4{
    width: 270%;
}
